.spdoctors h1{
    text-align: center !important;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 30px;
}
.banner-doctros {
    height: 40vh;
 background-repeat: no-repeat;
    background-position: center;
}
.banner-doctros h1{
    color:white;
    font-weight: 900;
    text-align: center !important;
    padding-top: 120px;
}
.d-block{
    height:300px;
    margin-top:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:0.3s;
}
.d-block:hover{
    box-shadow: 0 8px 12px 0 rgba(68, 130, 245, 0.6), 0 12px 20px 0 rgba(68, 130, 245, 0.6);
}
.card-image{
    height:70%;
    width:210px;
    border-radius: 60%;
    margin-top:20px;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
@media screen and (max-width: 1000px) {
   
    .banner-doctros h1 {
        padding-top: 50px;
        display:inline-flexbox;
        font-size: medium;
    }
    .d-block {
        display: block;
        margin: 30px auto;
        width: 100%;
    }

    
    .card-image {
        height: 230px;
        width: 80%;
        
    }
}
